
@font-face {
    font-family: "vazir";
    src: url("../fonts/Vazir.eot");

    src: url("../fonts/Vazir.eot?#iefix") format(embedded-opentype),
    url(../fonts/Vazir.woff2) format(woff2),
    url(../fonts/Vazir.woff) format(woff),
    url(../fonts/Vazir.ttf) format(truetype);
}

body{
    font-family: "vazir" !important;
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.dark .bg-body-dark{
    font-family: "vazir" !important;
    background-image: url(../images/bg-dark.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.line{
    line-height: 0%;
}
.swich1 input{
    width: 5% !important;
    height: 20px;
    margin: 10px;
}